// variables for scss
$primary-bg: #F9F9F9;
$gradient-1: #666666;
$gradient-2: #3c3c3c;

$primary-text: #458633;
$secondary-text: #FFFFFF;

$line: #ffffff;

$timestamp: #dddddd;

$graph-1: #F7837C;
$graph-2: #FACE4F;
$graph-3: #18C4C6;
$graph-4: #DDDDDD;